# Dados sensíveis (principalmente do Firebase)
# Tome cuidado com eles!
.env

# Site resultante
dist/
hosting/public/

# Arquivos locais/privados
local/

# Módulos
node_modules/

# Cache
hosting/.firebase/*.cache

# IDEs/editores
.vscode/
.idea/

# Log files
*.log