# Dados sensíveis (principalmente do Firebase)
# Tome cuidado com eles, por mais que já haja segurança
.env
.env.sentry-build-plugin

# Site resultante
dist/

# Arquivos locais/privados
local/

# Módulos
node_modules/
package-lock.json

# IDEs/editores
.vscode/
.idea/

# Log files
*.log

# Cache
*.cache