# Dados sensíveis (principalmente do Firebase)
# Tome cuidado com eles, por mais que já haja segurança
.env

# Site resultante
dist/
hosting/public/

# Arquivos locais/privados
local/

# Módulos
node_modules/
package-lock.json

# Cache
hosting/.firebase/*.cache

# IDEs/editores
.vscode/
.idea/

# Log files
*.log

# Cache
*.cache

# Sentry Config File
.env.sentry-build-plugin
