<iframe id="mapa_da_trilha" src="/html/mapa.html" frameborder="0"></iframe>

<button ng-show="usuario.Admin" id='btn_salvar' ng-click="salvarTrilha()">Salvar Online</button>
<button id='btn_sair' ng-click="sair()">Sair</button>

<style>

body
{
    padding-top: 0;
}

#mapa_da_trilha
{
    width: 100%;
    height: 100vh;
}

button
{
    font-family: "Roboto", sans-serif;
    background-color: #8BC34A;
    color: #FFFFFF;
    font-size: 1.5vw;
    line-height: 110%;
    font-weight: 400;
    border: none;
    padding: 10px;
    width: 16%;
    margin-bottom: 20px;
}

button:hover
{
    background-color: #7BB33A;
}

button:active
{
    background-color: #4B830A;
}

</style>
